.profile {
  text-align: center;
}

.userInfo .name {
  display: block;
  font-size: 64px;
}

.userInfo .email {
  font-size: 20px;
  display: block;
  margin: 10px auto;
}

.accountState {
  display: flex;
  justify-content: center;
  column-gap: 37px;
}

.buyer {
  width: 200px;
}

.seller {
  width: 200px;
  color: var(--primary-color-one);
  background-color: var(--primary-color-two);
}

.seller:hover {
  background-color: var(--primary-color-one);
  color: var(--primary-color-two);
}

.buttonsDiv {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  column-gap: 28px;
}

.profileBtn img {
  width: 54px;
  height: 54px;
  margin: auto;
  border-radius: 50%;
  background-color: var(--primary-color-one);
}

.profileBtn {
  color: var(--primary-color-one);
  background-color: var(--primary-color-two);
  width: 270px !important;
  height: 172px !important;
}

.profileBtn:hover {
  background-color: var(--primary-color-one);
  color: var(--primary-color-two);
}

.profileBtn span {
  text-align: center;
  display: block;
  font-size: 20px;
}