.itemDetails {
  display: flex;
  justify-content: center;
  margin: 139px auto 138px auto;
}

.itemDetails img {
  width: 710px;
  height: 600px;
  background-color: black;
}

.itemDetails .details {
  width: 438px;
  height: 600;
  background-color: gainsboro;
  margin-left: 22px;
  display: flex;
  flex-direction: column;
}

.itemDetails .detailsContent {
  margin-left: 56px;
  margin-right: 56px;
}

.itemDetails .detailsContent .title {
  font-size: 24px;
  width: 325px;
  margin-top: 76px;
}

.itemDetails .detailsContent .sellerName {
  font-size: 18px;
  margin-top: 10px;
}

.itemDetails .detailsContent .starRating {
  height: 22px;
  width: 146px;
  margin-top: 0;
}

.itemDetails .detailsContent .description {
  font-size: 18px;
  margin-top: 27px;
  width: 325px;
}

.itemDetails .detailsContent .price {
  font-size: 18px;
  margin-top: 26px;
}

.itemDetails .addCartBtn {
  width: 180px;
  margin-top: auto;
  margin-left: auto;
  margin-right: 57px;
}

@media screen and (max-width: 1300px) {
  .itemDetails {
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
  }

  .itemDetails img {
    width: 100vw;
  }

  .itemDetails .details {
    width: 100vw;
    padding-bottom: 5vh;
    margin-left: 0;
    margin-right: 0;
  }

  .itemDetails .detailsContent {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .itemDetails .detailsContent .title {
    width: unset;
  }

  .itemDetails .detailsContent .description {
    width: unset;
  }

  .itemDetails .addCartBtn {
    /* margin-top: auto;
    margin-left: auto; */
    margin-right: 0;
  }
}