.home {
    margin: 154px auto 228px auto;
}
.head {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    justify-content: center;
} 
.headContent {
    display: inline-grid;
    margin-top: 12px;
    margin-bottom: 40px;
}

.itemsFeed {
    display: flex;
    margin: 81px auto 0 auto;
    column-gap: 30px;
    row-gap: 81px;
    max-width: 1170px;
    flex-wrap: wrap;
}